<!DOCTYPE html>
<html>
  <head>
    <title>JavaScript lodash Templates Lab</title>
  </head>
  <body>
    <main>
    </main>
    <script src="node_modules/lodash/lodash.min.js"></script>
    <script src="index.js"></script>





    <!-- comment section-->

    <script id="comment-template" type="text/x-lodash-template">
    <div class="comments">
      <div class="comment-body">
      <p><%- comment %> </p>
      </div>
      <div class="commenter">
        <p>
          <span class="posted-by">Posted By: </span>
          <%- commenter %>
        </p>
      </div>
    </div>
  </script>
  </body>

      <!-- form section-->

      <form id = "post-form" onsubmit="createPost();return false;">
        Name: <input type="text" id="commenterName"><br>
        Comment: <input type="textarea" id="commentText"><br>
        <input type="submit">
      </form>
    </body>
  </html>
